#header {
	/*    border-bottom: 1px solid #8c8c8c;*/
	
/* 	background-color: #6ea001; */
	background-color: #ffd024;
	height: 50px;
}

.logo {
	height: 80%;
	margin-top: 3%;
}

#credentials {
	width: 320px;
	display: inline-block;
}

#credentials ul {
	list-style-type: none;
}

#credentials ul li {
	display: inline-block;
	font-size: 17px;
}

#credentials a:VISITED, a:LINK {
	color: white;
	text-decoration-line: none;
	font-weight: bold;
	cursor: auto;
}

#credentials a:link:active, a:visited:active {
	color: #52555b;
}

#credentials a:HOVER {
	color: white;
	text-decoration: underline;
}

.find-books {
	width: 110px;
	height: 100%;
	display: inline-block;
	margin-left: 550px;
}

.find-books a {
	height: 100%;
	color: white;
}

.feature-icon {
	font-size: 27px;
	margin-top: 4px;
}

.feature-title {
	display: inline-block;
	margin-top: 10px;
	vertical-align: top;
	font-weight: lighter;
}

#tuKhoa {
	background: url(../images/home/icon-repeat.png) 10px 10px no-repeat;
	padding-left: 39px;
	padding-top: 4px;
	font-size: 14px;
	background-color: white;
	margin-bottom: 5px;
}

.search-btn-header {
	color: white;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: -1px;
	padding-left: 8px;
	text-transform: uppercase;
	font-weight: bold;
}