.user-info {
	width: 465px;
	height: 370px;
	vertical-align: top;
	border: 1px solid;
}

.user-img {
	width: 250px;
	height: 370px;
/* 	border: solid 1px; */
}

.user-function {
	width: 276px;
	height: 100px;
	margin: 0 10px;
	border: solid 1px;
	vertical-align: top;
}

.books-table {
	width: 100%;
	height: auto;
}

.book-img-cell {
	width: 80px;
	height: 100px;
}

.user-functions {
	color: black;
}

.user-functions a {
	color: black;
}