@CHARSET "ISO-8859-1";

body {
	margin: 0;
/* 	background-color: #fff8d8; */
}

#header {
	padding: 10px 0 10px 0;
	border-bottom: 1px solid black;
}

.container {
	width: 90%;
	margin: 0 4.5% 0 5%;
}

.logo {
	display: inline-block;
	width: 200px;
	height: 60px;
}

.search {
	display: inline-block;
	width: 60%;
	height: auto;
	vertical-align: top;
	margin-top: 10px;
	margin-left: 10px;
}

.search-form {
	height: 40px;
}

.search-item {
	height: 100%;
}

.search-input {
	width: 80%;
	font-size: 17px;
	border-radius: 5px;
	border-width: 1px;
	padding-left: 10px;
}

.search-button {
	width: 50px;
}

.credentials {
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}

.credentials ul {
	list-style-type: none;
}

.credentials ul li {
	display: inline-block;
	font-size: 17px;
}

.credentials a:VISITED, a:LINK {
	color: #9b9fa5;
	text-decoration-line: none;
	font-weight: bold;
	cursor: auto;
}

.credentials a:link:active, a:visited:active {
	color: #52555b;
}

.credentials a:HOVER {
	color: #52555b;
}

/*----------------*/
#page-body {
	padding: 10px 0 10px 0;
	margin-top: 20px;
}

.body-row {
	
}

.body-row select {
	font-size: 16px;
	width: 45%;
	height: 35px;
	margin-right: 50px;
	border-radius: 10px;
	border-width: 2px;
}

.row-item {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

.books {
	width: 100%;
	height: auto;
	border: solid 2px #189eff;
	padding: 10px 20px 10px 20px;
	margin: 30px 0 0 0;
}
.books h3{
	width: 30%;
    height: 40px;
	display: block;
    margin: -35px 0 0 35%;
    line-height: 40px;
    color: #189eff;
    text-align: center;
    background-color: white;
    font-size: 20px;
}